<main class="main-cartOG">
    <br>
    <br>
  <h1 class="MiCarritoOG"> ¡YA CASI FINALIZAS TU PEDIDO! </h1>
  <br>
  <br>
  <h4 class="MiCarritoOG2"> Carrito de Compras </h4>
  
  <div class="productsOG">
    <article class="cardOG">
        <img src="/images/barilocheKid.jpg" alt="Bariloche" class="product_imgOG">
        <div class="main-articleOG">
            <b class="priceOG"> $8.500</b>
            <br>
            <b class="priceOG">Trekking</b>
            <br>
            <h5 class="bajadaOG">Bariloche</h5>
            <h6 class="bajadaOG">Inicia: 01/05/2023</h6>
            <h6 class="bajadaOG">Finaliza: 03/05/2023</h6>             
        </div>
        <button class="BasuraOG"> Quitar <i class="fa-solid fa-trash"></i> </button>
        <br>
    </article>
    <article class="cardOG">
        <img src="/images/kayaking.jpg" alt="kayaking" class="product_imgOG">
        <div class="main-articleOG">
            <b class="priceOG"> $26.900</b>
            <br>
            <b class="priceOG">Kayaking</b>
            <br>
            <h5 class="bajadaOG">Mendoza</h5>
            <h6 class="bajadaOG">Inicia: 01/01/2023</h6>
            <h6 class="bajadaOG">Finaliza: 03/01/2023</h6>                  
        </div>
        <button class="BasuraOG"> Quitar <i class="fa-solid fa-trash"></i> </button>
        <br>     
    </article>
    <article class="cardOG">
       <img src="/images/rafting.jpg" alt="Rafting" class="product_imgOG">
        <div class="main-articleOG">
        <b class="priceOG"> $28.500</b>
        <br>
        <b class="priceOG">Rafting</b>
        <br>
        <h5 class="bajadaOG">San Rafael</h5>
        <h6 class="bajadaOG">Inicia: 01/01/2023</h6>
        <h6 class="bajadaOG" >Finaliza: 03/01/2023</h6>                
        </div>
        <button class="BasuraOG"> Quitar <i class="fa-solid fa-trash"></i> </button>
        <br>
    </article>
    <article class="cardOG">
        <img src="/images/sky.jpg" alt="Sky" class="product_imgOG">
        <div class="main-articleOG">
            <b class="priceOG"> $28.000</b>
            <br>
            <b class="priceOG">Sky</b>
            <br>
            <h5 class="bajadaOG">El Bolson </h5>
            <h6 class="bajadaOG">Inicia: 01/01/2023</h6>
            <h6 class="bajadaOG">Finaliza: 03/01/2023</h6>
        </div>
        <button class="BasuraOG"> Quitar <i class="fa-solid fa-trash"></i> </button>
        <br>
    </article>
  </div>   
  <br>
  <br>
<h3 class ="codigoOG"> ¿Tenés un código de descuento? </h3> 
<br>
    <input class="form-loginOG" type="text" value="Ingresa tu código" required>
    <br>
    <br>
<div class="cierreOG">
<b class="descriptionOG"> Compra Total: </b>
<b class="priceTotalOG"> $108.500 </b>
</div>
<div class="botonesOG">
<button class="primaryOG" type="submit"> FINALIZAR COMPRA </button> 
<button class="primaryOG" type="reset" > SEGUIR COMPRANDO </button> 
<br>
<br>
<br>
<br>
<br>
</div>
</main>