<footer>
    <section class="footer-bottom">
        <div class="info"> 
            <p class="end-text">Explora tus limites</p>
            
        </div>
        <div class="contact-social"> 
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    </section>
    <p class="copyright">Copyright © 2022 Punto Limite Tour S.R.L.</p>
</footer>