<section class="most-visits"> 
    <h3>Aventuras más visitadas</h3>
    <div class="products-index">
        <article class="card-index">
            <a href="/detalleTrekking"><img src="/images/trekking.jpg" alt="trekking" class="product_img"></a>
            <div class="main-article-index">
                <h4 class="description-index"> Trekking</h4>
                <div class="description-like-index">
                    <p class="province-trip"> Bariloche</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="price-info-index">
                    <p class="price-index"> $8.500</p>
                    <p class="info-index"><a href="/detalleTrekking"> + info </a></p>
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
            </div>
        </article>
        <article class="card-index">
            <img src="/images/parapente.jpg" alt="parapente" class="product_img">
            <div class="main-article-index">
                <h4 class="description-index"> Vuelo en parapente</h4>
                <div class="description-like-index">
                    <p class="province-trip"> Cordoba</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="price-info-index">
                    <p class="price-index"> $15.770</p>
                    <p class="info-index"><a href="#"> + info </a></p>
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
            </div>
        </article>
        <article class="card-index">
            <img src="/images/rafting.jpg" alt="rafting" class="product_img">
            <div class="main-article-index">
                <h4 class="description-index"> Rafting</h4>
                <div class="description-like-index">
                    <p class="province-trip"> Cataratas de Iguazú</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="price-info-index">
                    <p class="price-index"> $8.640</p>
                    <p class="info-index"><a href="#"> + info </a></p>
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
            </div>
        </article>
        <article class="card-index">
            <img src="/images/HeliEsqui.jpg" alt="heliesqui" class="product_img">
            <div class="main-article-index">
                <h4 class="description-index"> Vuelo en helicóptero + Esquí</h4>
                <div class="description-like-index">
                    <p class="province-trip"> Ushuaia</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="price-info-index">
                    <p class="price-index"> $27.300</p>
                    <p class="info-index"><a href="#"> + info </a></p>
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
            </div>
        </article>
        <article class="card-index">
            <img src="/images/kayaking.jpg" alt="kayaking" class="product_img">
            <div class="main-article-index">
                <h4 class="description-index"> Kayaking</h4>
                <div class="description-like-index">
                    <p class="province-trip"> Neuquén</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="price-info-index">
                    <p class="price-index"> $10.900</p>
                    <p class="info-index"><a href="#"> + info </a></p>
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
            </div>
        </article>
        <article class="card-index">
            <img src="/images/jump.jpg" alt="jump" class="product_img">
            <div class="main-article-index">
                <h4 class="description-index"> Salto Bungee</h4>
                <div class="description-like-index">
                    <p class="province-trip"> Salta</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="price-info-index">
                    <p class="price-index"> $6.500</p>
                    <p class="info-index"><a href="#"> + info </a></p>
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
            </div>
        </article>
    </div>
</section>