<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head") %>

<body>
    <%- include ("partials/header") %> 


    <main class="background-gm">
        <article class="landscape-frame">
            <div class="landscape-frame-text"></div>
        </article>


        <article class="father">

            <article class="block-1">
                <img src="images/trekking.jpg" alt="EXCURSION TREKKING" class="detalle_img" />
                <br>
            </article>
            <article class="block-2">
                <div class="main-article">
                    <h4 class="Subtitle-trekking">TREKKING</h4>
                </div>
                <div class="description-p"><p> los diez trekking más espectaculares de Argentina</p>
                    <p>Se parte desde la Reserva de Biosfera de las Yungas, un entorno selvático con un alto valor en
                        biodiversidad, atravesando distintos biotipos selváticos, hasta alcanzar los pastizales de
                        altura,
                        ascendiendo las altas montañas que separan las selvas de la Puna. Se visitan en esta aventura
                        los
                        poblados de San Francisco, San Lucas y se arriba a la zona de acampe conocida como el Abra El
                        Potrero. Luego se continúa el ascenso hasta Molulo y más allá sobre las cumbres Yuto Pampa desde
                        donde se parte hasta el punto más alto del recorrido, a 4010 msnm.Luego se desciende a la
                        Quebrada
                        de Humahuaca, llegando a Tilcara lo que marca el fin de la travesía.</p>
                </div>
                <div class="button">
                    <button type="submit" class="primary">Reservar</button>
                </div>
            </article>
        </article>
        <article class="landscape-frame">
            <div class="landscape-frame-text"></div>
        </article>

        <article class="container-video">
            <div class="video-trekking">
                <video loop muted autoplay>
                <source src="videos/CerroBianco.mp4" type="video/mp4">
                </video>
            </div>
        </article>    
    </main>


<%- include ("partials/footer") %> 

</body>

</html>