<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bievenidx a Punto Limite Tour</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-navbar">
        <div class="logo">
            <a href="/home"><img src="/images/puntoLimite-Logo.png" alt="Logo de Punto Limite"></a>
        </div>

        <nav class="top-header-nav">

            <ul class="nav-center">
                <li><a href="#">
                        <button class="button-nav">
                            <span class="text-button-nav">Nosotros</span>
                        </button>
                    </a></li>
                <li><a href="#" class="a-button">
                        <button class="button-nav">
                            <span class="text-button-nav">Equipamiento</span>
                        </button class="button-nav">
                    </a></li>
                <li><a href="#">
                        <button class="button-nav">
                            <span class="text-button-nav">Alojamiento</span>
                        </button>
                    </a></li>
                <li><a href="#">
                        <button class="button-nav">
                            <span class="text-button-nav">Experiencias</span>
                        </button>
                    </a></li>
            </ul>

        </nav>

        <div class="nav-right">
            <ul class="top-nav-right">
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i> Contacto </a></li>
                <li><a href="#"><i class="fa-solid fa-circle-question"></i></a></li>
            </ul>
            <ul class="botton-right-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i> Mi usuario </a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </header>


    <main>
        <article class="father">

            <article class="block-1">
                <img src="images/trekking.jpg" alt="EXCURSION TREKKING" class="detalle_img" />
                <br>
            </article>
            <article class="block-2">
                <div class="main-article">
                    <h4 class="Subtitle-trekking">TREKKING</h4>
                </div>
                <div class="description-p">De los diez trekking más espectaculares de Argentina
                <p>Se parte desde la Reserva de Biosfera de las Yungas, un entorno selvático con un alto valor en
                    biodiversidad, atravesando distintos biotipos selváticos, hasta alcanzar los pastizales de altura,
                    ascendiendo las altas montañas que separan las selvas de la Puna. Se visitan en esta aventura los
                    poblados de San Francisco, San Lucas y se arriba a la zona de acampe conocida como el Abra El
                    Potrero. Luego se continúa el ascenso hasta Molulo y más allá sobre las cumbres Yuto Pampa desde
                    donde se parte hasta el punto más alto del recorrido, a 4010 msnm.Luego se desciende a la Quebrada
                    de Humahuaca, llegando a Tilcara lo que marca el fin de la travesía.</p>
                </div>
                <div class="button">
                    <button type="submit" class="primary">Reservar</button>
                </div>
            </article>
        </article>
        <video controls>
            <source src="videos/CerroBianco.mp4" type="video/mp4">
        </video>


    </main>

    </header>

    <footer>
        <section class="footer-bottom">
            <div class="info">
                <p class="end-text">Explora tus limites</p>

            </div>
            <div class="contact-social">
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </section>
        <p class="copyright">Copyright © 2022 Punto Limite Tour S.R.L.</p>
    </footer>
</body>

</html>