<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head") %> 

<body>
    <%- include ("partials/header") %> 


    <main>
        <section class="search-main">
            <div class="search">
                <form action="#" method="post"class="province">
                    <div class="text-s">
                        <label class="search-text"> ¿Dónde viajas? </label>
                    </div>
                    <select class="option-province" name="provincias" id="provincias">
                        <option value="todas">Todas...</option>
                        <option value="bsas">Buenos Aires</option>
                        <option value="chub">Chubut</option>
                        <option value="cord">Córdoba</option>
                        <option value="juju">Jujuy</option>
                        <option value="rioj">La Rioja</option>
                        <option value="mendo">Mendoza</option>
                        <option value="misio">Misiones</option>
                        <option value="neuq">Neuquén</option>
                        <option value="rneg">Río Negro</option>
                        <option value="scru">Santa Cruz</option>
                        <option value="tdfu">Tierra del Fuego</option>
                    </select>
                </form>
                <form action="#" method="post"class="service">
                    <div class="text-s">
                        <label class="search-text"> ¿Qué hacer? </label>
                    </div>
                    <select class="option-service" name="service" id="service">
                        <option value="todos">Todos...</option>
                        <option value="helicoptero">Viaje en helicóptero</option>
                        <option value="kayack">Kayack</option>
                        <option value="trekking">Trekking</option>
                        <option value="parapente">Parapente</option>
                        <option value="buceo">Buceo</option>
                        <option value="mountain-bike">Mountain Bike</option>
                        <option value="rappel">Rappel</option>
                        <option value="tirolesa">Tirolesa</option>
                        <option value="escalada">Escalada</option>
                    </select>
                </form>
                <div class="search-form">
                    <button type="submit" class="search-button"> Buscar </button>
                </div>
            </div>
            <div class="image-search">
                <img src="/images/rafting.jpg" alt="PuntoLimite">
            </div>
        </section>
            
    <%- include ("partials/mostVisitHome") %>    

    </main>   


<%- include ("partials/footer") %>
</body>

</html>