<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bievenidx a Punto Limite Tour</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-navbar">
        <div class="logo">
            <a href="/home"><img src="/images/puntoLimite-Logo.png" alt="Logo de Punto Limite"></a>
        </div>
            
        <nav class="top-header-nav">
            
            <ul class="nav-center">
                <li><a href="#">
                    <button class="button-nav">
                    <span>Quienes somos</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                        <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                    </button> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span>Equipamiento</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                        <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                    </button class="button-nav"> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span>Alojamiento</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                        <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                    </button> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span>Experiencias</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                        <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                    </button> 
                </a></li>
            </ul>
        </nav>  
        
        <div class="nav-right">
            <ul class="top-nav-right">
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i> Contacto </a></li>
                <li><a href="#"><i class="fa-solid fa-circle-question"></i></a></li>
            </ul>
            <ul class="botton-right-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i> Mi usuario </a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </header>
   
   
    <main>
        <section class="search-main">
            <div class="search">
                <form action="#" method="post"class="province">
                    <div class="text-s">
                        <label class="search-text"> ¿A dónde viajas? </label>
                    </div>
                    <select class="option-province" name="provincias" id="provincias">
                        <option value="todas">Todas...</option>
                        <option value="bsas">Buenos Aires</option>
                        <option value="chub">Chubut</option>
                        <option value="cord">Córdoba</option>
                        <option value="juju">Jujuy</option>
                        <option value="rioj">La Rioja</option>
                        <option value="mendo">Mendoza</option>
                        <option value="misio">Misiones</option>
                        <option value="neuq">Neuquén</option>
                        <option value="rneg">Río Negro</option>
                        <option value="scru">Santa Cruz</option>
                        <option value="tdfu">Tierra del Fuego</option>
                    </select>
                </form>
                <form action="#" method="post"class="service">
                    <div class="text-s">
                        <label class="search-text"> ¿Qué buscar hacer? </label>
                    </div>
                    <select class="option-service" name="service" id="service">
                        <option value="todos">Todos...</option>
                        <option value="helicoptero">Viaje en helicóptero</option>
                        <option value="kayack">Kayack</option>
                        <option value="trekking">Trekking</option>
                        <option value="parapente">Parapente</option>
                        <option value="buceo">Buceo</option>
                        <option value="mountain-bike">Mountain Bike</option>
                        <option value="rappel">Rappel</option>
                        <option value="tirolesa">Tirolesa</option>
                        <option value="escalada">Escalada</option>
                    </select>
                </form>
            </div>
            <div class="image-search">
                <img src="/images/rafting.jpg" alt="PuntoLimite">
            </div>
        </section>
            

        <p>
            Relleno para prueba
        </p>
        <p>
            Relleno para prueba
        </p>
        <p>
            Relleno para prueba
        </p>
        <p>
            Relleno para prueba
        </p>
        <p>
            Relleno para prueba
        </p>
        <p>
            Relleno para prueba
        </p>
        <p>
            Relleno para prueba
        </p>
        <p>
            Relleno para prueba
        </p>
        <p>
            Relleno para prueba
        </p>

    </main>   

    </header>

    <footer>
        <section class="footer-bottom">
            <div class="info"> 
                <p class="end-text">Explora tus limites</p>
                <p class="copyright">Copyright © 2022 Punto Limite Tour S.R.L.</p>
            </div>
            <div class="contact-social"> 
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </section>
    </footer>
</body>

</html>