<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head") %>

<body>
    <%- include ("partials/header") %>
    
    <main class="main-cartOG">
        <br>
        <br>
      <h1 class="MiCarritoOG">Mi Carrito de Compras </h1>
      <div class="MiCarritoOG2">Detalle:</div>
      <br>
      <br>
      <br>
      <div class="productsw">
        <article class="cardOG">
            <button class="BasuraOG"> <i class="fa-solid fa-trash"></i> </button>
            <br>
            <img src="/images/barilocheKid.jpg" alt="Bariloche" class="product_img">
            <div class="main-articleOG">
                <br>
                <b class="priceOG"> $25.100</b>
                <b class="descriptionOG">Trekking</b>
                <h5 class="bajadaOG">Bariloche</h5>
                <h6 class="bajadaOG">Inicia: 01/05/2023</h6>
                <h6 class="bajadaOG">Finaliza: 03/05/2023</h6>             
            <br>
            </div>
        </article>
        <article class="cardOG">
            <button class="BasuraOG"> <i class="fa-solid fa-trash"></i> </button>
            <br>
            <img src="/images/kayaking.jpg" alt="kayaking" class="product_img">
            <div class="main-articleOG">
                <br>
                <b class="priceOG"> $26.900</b>
                <b class="descriptionOG">Kayaking</b>
                <h5 class="bajadaOG">Mendoza</h5>
                <h6 class="bajadaOG">Inicia: 01/01/2023</h6>
                <h6 class="bajadaOG">Finaliza: 03/01/2023</h6>                
            <br>
            </div>
        </article>
        <article class="cardOG">
            <button class="BasuraOG"> <i class="fa-solid fa-trash"></i> </button>
            <br>
            <img src="/images/rafting.jpg" alt="Rafting" class="product_img">
            <div class="main-articleOG">
                <br>
                <b class="priceOG"> $28.500</b>
                <b class="descriptionOG">Rafting</b>
                <h5 class="bajadaOG">San Rafael</h5>
                <h6 class="bajadaOG">Inicia: 01/01/2023</h6>
                <h6 class="bajadaOG" >Finaliza: 03/01/2023</h6>                
            <br>
            </div>
        </article>
        <article class="cardOG">
            <button class="BasuraOG"> <i class="fa-solid fa-trash"></i> </button>
            <br>
            <img src="/images/sky.jpg" alt="Sky" class="product_img">
            <div class="main-articleOG">
            <br>
                <b class="priceOG"> $28.000</b>
                <b class="descriptionOG">Sky</b>
                <h5 class="bajadaOG">El Bolson </h5>
                <h6 class="bajadaOG">Inicia: 01/01/2023</h6>
                <h6 class="bajadaOG">Finaliza: 03/01/2023</h6>
              <br>
            </div>
        </article>
        <h5 class ="codigoOG"> ¿Tenés un código de descuento? </h5> 
        <input class="form-loginOG" type="text" value="Tu código" required>

<div class="cierreOG">
    <b class="descriptionOG"> Compra Total: </b>
    <br>
    <b class="priceTotalOG"> $108.500 </b>
    </div>
    <br>
    <br>
<div>
        <button class="button1w">
        <h6> FINALIZAR COMPRA </h6>
        </button> 
    </div>  
    <br>
    <div>
        <button class="button2w">
        <h6> SEGUIR COMPRANDO </h6>
        </button> 
    </div>
             </div>
</main>

    <%- include ("partials/footer") %> 
</body>

</html>