<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bievenidx a Punto Limite Tour</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-navbar">
        <div class="logo">
            <a href="/home"><img src="/images/puntoLimite-Logo.png" alt="Logo de Punto Limite"></a>
        </div>
            
        <nav class="top-header-nav">
            
            <ul class="nav-center">
                <li><a href="#">
                    <button class="button-nav">
                    <span>Quienes somos</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                        <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                    </button> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span>Equipamiento</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                        <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                    </button class="button-nav"> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span>Alojamiento</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                        <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                    </button> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span>Experiencias</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                        <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                    </button> 
                </a></li>
            </ul>
            
        </nav>  
        
        <div class="nav-right">
            <ul class="top-nav-right">
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i> Contacto </a></li>
                <li><a href="#"><i class="fa-solid fa-circle-question"></i></a></li>
            </ul>
            <ul class="botton-right-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i> Mi usuario </a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </header>
    
        <main class="main-cart">
        <section class="Carrito"> 
            <p></p>
            <p></p>
            <p></p>
            <span class="Carrito1"> Carrito de Compras </span>
            <p></p>
            <div class="Carrito2">Detalle de excursiones a contratar:</div>
            <p></p>
            <p></p>
            <p></p>
            <div class="products">
                <article class="card1">
                    <img src="/images/barilocheKid.jpg" alt="Bariloche" class="product_img">
                    <div class="main-article">
                        <p class="price"> $3.300</p>
                        <h4 class="description"> TrekkingKids</h4>
                        <p class="bajada">"Agradable caminata por xxxx desde el 01/01/2023 al 03/01/2023" </p>
                    </div>
                </article>
                <article class="card1">
                    <img src="/images/kayaking.jpg" alt="kayaking" class="product_img">
                    <div class="main-article">
                        <p class="price"> $3.000</p>
                        <h4 class="description">kayaking</h4>
                        <p class="bajada">"Vertiginosa experiencia por xxxx desde el 01/01/2023 al 03/01/2023" </p>
                    </div>
                </article>
                <article class="card1">
                    <img src="/images/rafting.jpg" alt="Rafting" class="product_img">
                    <div class="main-article">
                        <p class="price"> $7.000</p>
                        <h4 class="description"> Rafting</h4>
                        <p class="bajada">"Adrenalina y velocidad asegurada por xxxx desde el 01/01/2023 al 03/01/2023" </p>
                    </div>
                </article>
                <article class="card1">
                    <img src="/images/sky.jpg" alt="Sky" class="product_img">
                    <div class="main-article">
                        <p class="price"> $3.200</p>
                        <h4 class="description"> Sky </h4>
                        <p class="bajada">"Increible aventura por xxxx desde el 01/01/2023 al 03/01/2023" </p>
                    </div>
                </article>
                <div class="cierre">
                    <h6 class="description"> Su compra asciende a: </h6>
                    <p class="priceTotal"> $ 16.500,00 </p>
                </div>
                <p></p>

<div>
    <button class="button1">
        <h3> ¡COMPRAR AHORA! </h3>
        <svg width="44" height="44" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </button> 
</div>
        </section>
     </main>   
    </header>

    <footer>
        <section class="footer-bottom">
            <div class="info"> 
                <p class="end-text">Explora tus limites</p>
                
            </div>
            <div class="contact-social"> 
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </section>
        <p class="copyright">Copyright © 2022 Punto Limite Tour S.R.L.</p>
    </footer>
</body>

</html>