<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bievenidx a Punto Limite Tour</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-navbar">
        <div class="logo">
            <a href="/home"><img src="/images/puntoLimite-Logo.png" alt="Logo de Punto Limite"></a>
        </div>
            
        <nav class="top-header-nav">
            
            <ul class="nav-center">
                <li><a href="#">
                    <button class="button-nav">
                    <span class="text-button-nav">Nosotros</span>
                    </button> 
                </a></li>
                <li><a href="#" class="a-button">
                    <button class="button-nav">
                    <span class="text-button-nav">Equipo</span>
                    </button class="button-nav"> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span class="text-button-nav">Hospedaje</span>
                    </button> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span class="text-button-nav">Aventura</span>
                    </button> 
                </a></li>
            </ul>
            
        </nav>  
        
        <div class="nav-right">
            <ul class="top-nav-right">
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i> Contacto </a></li>
                <li><a href="#"><i class="fa-solid fa-circle-question"></i></a></li>
            </ul>
            <ul class="botton-right-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i> Mi usuario </a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </header>
    
        <main class="main-cart">
        <section class="Carrito"> 
            <br>
            <span class="Carrito1"> >>>Carrito de Compras<<< </span>
            <p></p>
            <div class="Carrito2">Detalle de excursiones a contratar:</div>
            <br>
            <div class="productsw">
                <article class="card1w">
                    <img src="/images/barilocheKid.jpg" alt="Bariloche" class="product_img">
                    <div class="main-article">
                        <b class="price"> $3.300</b>
                        <p></p>
                        <h4 class="description"> >>> Trekking Kid's</h4>
                        <h6 class="bajadaw">"Agradable caminata por xxxx desde el 01/01/2023 al 03/01/2023" </h6>
                    </div>
                </article>
                <article class="card1w">
                    <img src="/images/kayaking.jpg" alt="kayaking" class="product_img">
                    <div class="main-article">
                        <b class="price"> $3.000</b>
                        <p></p>
                        <h4 class="description"> >>> Kayaking</h4>
                        <h6 class="bajadaw">"Vertiginosa experiencia por xxxx desde el 01/01/2023 al 03/01/2023" </h6>
                    </div>
                </article>
                <article class="card1w">
                    <img src="/images/rafting.jpg" alt="Rafting" class="product_img">
                    <div class="main-article">
                        <b class="price"> $7.000</b>
                        <p></p>
                        <h4 class="description"> >>> Rafting</h4>
                        <h6 class="bajadaw">"Adrenalina asegurada en Mendoza desde el 01/01/2023 al 03/01/2023" </h6>
                    </div>
                </article>
                <article class="card1w">
                    <img src="/images/sky.jpg" alt="Sky" class="product_img">
                    <div class="main-article">
                        <b class="price"> $3.200</b>
                        <p></p>
                        <h4 class="description"> >>> Sky </h4>
                        <h6 class="bajadaw"> "Increible aventura por xxxx desde el 01/01/2023 al 03/01/2023" </h6>
                        </div>

                </article>
                <div class="cierrew">
                    <h6 class="descriptionw"> Su compra asciende a </h6>
                    <b class="priceTotal1"> $ 16.500,00 </b>
                </div>

<div>
    <button class="button1w">
        <h5> ¡COMPRAR AHORA! </h5>
        <svg width="44" height="44" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </button> 
</div>
        </section>
     </main>   
    </header>

    <footer>
        <section class="footer-bottom">
            <div class="info"> 
                <p class="end-text">Explora tus limites</p>
                
            </div>
            <div class="contact-social"> 
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </section>
        <p class="copyright">Copyright © 2022 Punto Limite Tour S.R.L.</p>
    </footer>
</body>

</html>