<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bievenidx a Punto Limite Tour</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-navbar">
        <div class="logo">
            <a href="/home"><img src="/images/puntoLimite-Logo.png" alt="Logo de Punto Limite"></a>
        </div>
            
        <nav class="top-header-nav">
            
            <ul class="nav-center">
                <li><a href="#">
                    <button class="button-nav">
                    <span class="text-button-nav">Nosotros</span>
                    </button> 
                </a></li>
                <li><a href="#" class="a-button">
                    <button class="button-nav">
                    <span class="text-button-nav">Equipo</span>
                    </button class="button-nav"> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span class="text-button-nav">Hospedaje</span>
                    </button> 
                </a></li>
                <li><a href="#">
                    <button class="button-nav">
                    <span class="text-button-nav">Aventura</span>
                    </button> 
                </a></li>
            </ul>
            
        </nav>  
        
        <div class="nav-right">
            <ul class="top-nav-right">
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i> Contacto </a></li>
                <li><a href="#"><i class="fa-solid fa-circle-question"></i></a></li>
            </ul>
            <ul class="botton-right-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i> Mi usuario </a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </header>
   
   
    <main class="registro">
        <form action="/" method="POST" class="register" enctype='multipart/form-data'>
        <section class="registro-2">
            <h2>¡Registrate!</h2>
            <div class="form-register">
                <input class="input-register" type="text" name="name" placeholder="Nombre y apellido" required minlength="4">
            </div>
            <div class="form-register">
                <input class="input-register" type="text" name="document"  placeholder="DNI / Pasaporte" required>
            </div>
            <div class="form-register">   
                <label for="date"> Fecha de nacimiento </label>
                <input class="input-register" type="date" name="date" required>
            </div>
            <div class="form-register">
                <input  class="input-register" type="text" name="country" placeholder="Pais" required>
            </div>
            <div class="form-register">
                <input  class="input-register" type="text" name="province" placeholder="Provincia">
            </div>
            <div class="form-register">
                <input  class="input-register" type="text" name="city" placeholder="Ciudad">
            </div>

            <div class="form-register">   
                <input class="input-register" type="email" name="email" placeholder="Email" required>
            </div>
            
            <div class="form-register">   
                <label for="img"> Foto de usuario </label>
                <input type="file" name="img" accept=".jpg, .png">
            </div>
            <div class="form-register">   
                <label for="password"> Contraseña </label>
                <input class="input-register" type="password" name="password" placeholder="********" required minlength="8" maxlength="15">
            </div>
            <div class="form-register">   
                <label for="passwordconfirm"> Confirmar contraseña </label>
                <input class="input-register" type="password" name="passwordconfirm" placeholder="********" required minlength="8" maxlength="15">
            </div>
        </section>

            <div class="form-button">
                <button type="submit" class="primary"> Enviar </button>
                <button type="reset" class="primary"> Borrar </button>
            </div>
        </form>
       

    </main>   

    </header>

    <footer>
        <section class="footer-bottom">
            <div class="info"> 
                <p class="end-text">Explora tus limites</p>
                
            </div>
            <div class="contact-social"> 
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </section>
        <p class="copyright">Copyright © 2022 Punto Limite Tour S.R.L.</p>
    </footer>
</body>

</html>