*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    background-color: #f5f5f5;
}

header, footer{
    background-color: #54457F;
}

.main-navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.top-header-nav ul li{
    list-style-type: none;
}

.logo a{
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    padding: 5px 0;
}

.logo{
    display: flex;
    width: 40%;
    justify-content: left;
}

.logo img{
    display: flex;
    width: 100%;
    
}

.nav-center{
    display: none;
}
   
.nav-right{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 5px 0;
    justify-content: space-evenly;
    width: 45%;
}

.nav-right ul{
    display: flex;
    text-align: right;
    padding-top: 10px;
}

.nav-right li{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    list-style-type: none;
    color: #FFF;
}

.nav-right a{
    text-decoration: none;
    color: #FFF;
    display: flex;
    padding: 0px 0px 0px 10px
}

.fa-solid.fa-comment-dots{
    color: #F63513;
    margin: 0 5px;
    margin-left: 5px;
    font-size: 18px;
    padding-right: 10px;
}
    
.fa-solid.fa-circle-question{
    font-size: 18px;
    color: #F63513;
    border-left: 2px solid #FFF;
    padding: 0px 10px 0px 15px;
}
.fa-solid.fa-user{
    font-size: 18px;
    color: #F63513;
    padding: 0px 5px 0px 15px;
}

.fa-solid.fa-cart-shopping{
    font-size: 18px;
    color: #F63513;
    border-left: 2px solid #FFF;
    padding: 0px 0px 0px 15px; 
    margin-right: 13px;
}

.burger-menu{
    display: flex;
    justify-content: center;
}

.burger-menu i{
    background-color: #cfef00;
    border-radius: 5px;
    color: #F63513;
    font-size: 20px;
    height: 20px;
    margin: 10px 0px 0px 90px;
    width: 30px;
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
    margin: 0 auto;
}

p {
    padding: 5px;
}


.footer-bottom{
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-social{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content:end;
    align-items: center;
}

.contact-social a{
    text-decoration: none;
}

.fa-brands.fa-whatsapp{
    display: flex;
    width:30px;
    height:30px;
    margin: 5px 5px 5px 5px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    box-sizing: border-box;
    text-align:center;
    font-size:35px;
    align-items: center;
}

.fa-brands.fa-facebook-f{
    display: flex;
    width:32px;
    height:32px;
    margin: 5px 5px 5px 5px;
    background:#04439b;
    border-radius:50px;
    box-sizing: border-box;
    font-size:27px;
    text-align:center;
    justify-content: center;
    border: 3px solid #04439b;
    color: #fff;
}

.fa-brands.fa-instagram{
    display: flex;
    width:30px;
    height:30px;
    font-size:35px;
    border-radius:50px;
    margin: 5px 5px 5px 5px;
    color: #FFF;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
 
.copyright{
    display: flex;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    justify-content: center;
}

@font-face {
    font-family:fuente_1;
    src: url(Harashi.ttf);
}

.end-text{
    display: flex;
    font-family: 'fuente_1';
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
    width: 100%;
    justify-content: left; 
}

.search-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    background-color: #54457F;
}

.image-search{
    width: 65%;
    height: 100%;  
}

.image-search img{
    width: 100%;
    height: 180px;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 100%;
}
.search-form{
    height: 22%;
}

.province,
.service{
    width: 80%;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 38%;
}
.province{
    padding-top: 5px; 
}
.service{
    padding-bottom: 5px;  
}

.option-province,
.option-service{
width: 100%;
font-size: 12px;
width: 100%;
cursor: pointer;
padding: 5px 5px;
height: 30px;
outline: 0; 
border: 0;
border-radius: 0;
background: #f0f0f0;
color: #000;
border:2px solid rgba(0,0,0,0.2);
border-radius: 12px;
position: relative;
transition: all 0.25s ease;
display: flex;
align-items: center;
}

.text-s{
    margin-bottom: 5px;
    text-align: center;
}

.search-text{
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    color: #fff;
}

.search-button{
    font-weight: 700;
    font-family: 'Dosis',"sans-serif";
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    padding: 8px 8px;
    height: 30px;
    outline: 0; 
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #000;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
}
.search-button:hover{
    background-color: #a6c900;
}

h3{
    font-size: 24px;
    margin-top: 10px;
}

p{
    font-size: 12px;
}

.products-index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.price-index{
    display: none;
}

.province-trip{
    font-size: 16px;
    margin-left: 8px;
    font-weight:500;
    color: #6F3456;
    display: inline-block;
}

.description-index{
    font-size: 18px;
    margin-top: 5px;
    font-weight: bolder;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.description-like-index,
.price-info-index{
    display: flex;
    justify-content: space-between;
}

.info-index{
    font-size: 16px;
    font-weight:600;
    margin-left: 10px;
    text-align: left;
    padding-bottom: 10px;
    width: 75%;
}
.info-index a{
    text-decoration: none;
}

.main-article-index i{
    display: flex;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    color:rgb(83, 75, 75);
    width: 22%;
}
.main-article-index .fa-solid.fa-heart:hover{
    color:#F63513;
}

.main-article-index .fa-solid.fa-truck-fast:hover{
    color:#F63513;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 0%;
    }
    to {
      margin-left: 40%;
    }
  }

.most-visits{
    width: 90%;
    margin: 0 auto;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}
main section article{
    background-color: #fff;    
    margin: 10px 0px;
    width: 70%;
}

main section article img{
    display: flex;
    justify-content: center;
}






















































/* aca arranca Oscar */

.Carrito1{ 
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    display: inline;
    text-align: center;
    border: double;
    font-size: 35px;
    color: #efeaf3;
    background-color: #54457F;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    
}

.Carrito2{
    font-size: 25px;
    color: #54457F;
    margin-left: 25%;
    margin-right: 25%;
}
     
.card1{
    justify-content: space-between;
    border: violet ;
    display: flex;
    padding: 80px;
    font-size: 18px;
    color: rgb(14, 12, 12);
    font-weight: 60;
    width: 100%;
    justify-content: left;
}

.card1 img{
    display: flex;
    width: 180px;
    justify-content: center;
    
}


.cierre{
    box-sizing: border-box;
    display: flow-root;
    margin: 15%;
    padding: 15px, 10px, 10px, 5px;
    font-size: 25px;
    justify-content: left;
    border-color: #54457F;
    border: double;
}

.button1{
    color: #fff !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    margin-bottom: 30px;
    margin-left:500px;
    background: #54457F;
    border: double;
    border-color:#060114;
    position: relative;
}

.button1:before{
font-family: 'Courier New', Courier, monospace;
content:"";
position: absolute;
top: 0px;
left: 0px;
width: 0px;
height: 100%;
background: rgba(255, 255, 255, 0.1);
transition: all 1s ease;
}

.button1:hover:before{
width: 100%;
}

















































































































































































































































































































































































































































































































/* aca arranca Imanol */



.main-login {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-montanas-al-atardecer_23-2147598746.jpg);
    width: 400px;
 border-radius: 5px;
}



.login {
    
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;

padding: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: auto;
}
.login h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
}
.form-login {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: arial;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.input-login {
    width: 100%;
    color: orange;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    font-family: 'Calibri';
}
.input-login:hover{
    
    box-shadow: 0px 15px 20px rgba(106, 110, 108, 0.4);
    }
.checkbox-login {
    font: arial;
    font-size: 20px;
    margin-top: 30px;
    
}
.buttons {
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
}

.primary {
margin-bottom: 20px;
padding: 1.3em 3em;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color: #fff;
 border: none;
 border-radius: 45px;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
}
.primary:hover {
    background-color: #2EE59D;
 box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
 color: #fff;
 transform: translateY(-7px);
}
.primary:active {
    transform: translateY(-1px)
}
.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: arial;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
   
}
.registro {
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
background-image: url(https://img.freepik.com/vector-gratis/fondo-montanas-al-atardecer_23-2147598746.jpg);
padding: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 400px;
border-radius: 5px;
}













































































































































































































































































































/* aca arranca Ger */

main article .father{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


main article .block-1{
display: inline-block;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
width: 100%;
}

main article .block-2{
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}



main article img{
   display: inline-block; 
    width: 100%;
}

main article .description{
    display: inline-block;
    
}

div .button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

main video{
    width: 100%;
    height: 30%;
}


































































































































































































































































































































































































































































































































@media (min-width:425px){
    .nav-center{
        display: flex;
        padding: 5px 0;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width:963px){
    .top-header-nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 65%;
        justify-content: space-between;
    }
    .logo a{
        text-decoration: none;
        color: #FFF;
        padding: 5px 0;
    }
     
    .logo{
        display: flex;
        width: 20%;
        justify-content: right;
    }
     
    .logo img{
        display: flex;
        width: 180px;
       
    }    
    .nav-center{
        display: flex;
        padding: 5px 0;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }    
    .nav-center ul li{
    list-style-type: none;
    }
    .nav-center li{
        display: flex;
        flex-wrap: wrap;
        margin: 0 5px;
        width: 23%;
        align-items: center;
        justify-content: space-between;
    }   
    .nav-center a{
        text-decoration: none;
        color: #FFF;
        padding: 5px 0; 
        width: 100%;
    }   
    .button-nav {
        cursor: pointer;
        transition: all .2s;
        padding: 5px 15px;
        border-radius: 100px;
        background: #cfef00;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        width: 100%;
    }    
    .text-button-nav{
        width: 100%;
        font-weight: 900;
        font-family: 'Dosis',"sans-serif";
        font-size: 20px;
        padding: 7px 0px;
        display: flex;
        justify-content: center;
    } 
    .button-nav:hover {
        background: #a6c900;
    }   

    .button-nav:active {
        transform: scale(0.95);
    }
    .burger-menu{
        display: none;
    }
    .fa-solid.fa-comment-dots{
        color: #F63513;
        margin: 0 5px;
        margin-left: 5px;
        font-size: 25px;
        padding-right: 10px;
    }
    .fa-solid.fa-comment-dots:hover{
        color: #a6c900; 
    }
            
    .fa-solid.fa-circle-question{
        font-size: 25px;
        color: #F63513;
        border-left: 2px solid #FFF;
        padding: 0px 5px 0px 15px;
    }
            
    .fa-solid.fa-circle-question:hover{
        color: #a6c900;   
    } 
    .fa-solid.fa-user{
        font-size: 25px;
        color: #F63513;
        padding: 0px 5px 0px 15px;
    }
    .fa-solid.fa-user:hover{
        color: #a6c900;   
    } 
    .fa-solid.fa-cart-shopping{
        font-size: 25px;
        color: #F63513;
        border-left: 2px solid #FFF;
        padding: 0px 0px 0px 15px; 
        margin-right: 13px;
    }  
    .fa-solid.fa-cart-shopping:hover{
        color: #a6c900; 
    }
    .nav-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        justify-content: space-between;
        width: 20%;
    }  
    .nav-right ul{
        display: flex;    
    }
    .nav-right li{
        font-size: 15px;
        font-weight: 600;
        align-items: center;
        list-style-type: none;
        color: #FFF;
    } 
    .nav-right a{
        text-decoration: none;
        color: #FFF;
        display: inline-block;
        padding: 0px 0px 0px 10px
    }
    .footer-bottom{
        padding: 5px;
        margin-left: 10px;
        margin-right: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    .contact-social{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        justify-content:end;
        align-items: center;
    }
    .contact-social a{
        text-decoration: none;
    }
        
    .fa-brands.fa-whatsapp{
        display: flex;
        width:30px;
        height:30px;
        margin: 10px 10px 10px 10px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        box-sizing: border-box;
        text-align:center;
        font-size:35px;
        align-items: center;
    }
    .fa-brands.fa-facebook-f{
        display: flex;
        width:32px;
        height:32px;
        margin: 10px 10px 10px 10px;
        background:#04439b;
        border-radius:50px;
        box-sizing: border-box;
        font-size:27px;
        text-align:center;
        justify-content: center;
        border: 3px solid #04439b;
        color: #fff;
    }
    .fa-brands.fa-instagram{
        display: flex;
        width:30px;
        height:30px;
        font-size:35px;
        border-radius:50px;
        margin: 10px 10px 10px 10px;
        color: #FFF;
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    } 
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }  
    .copyright{
        display: flex;
        font-size: 12px;
        color: #fff;
        font-weight: 600;
        width: 100%;
        justify-content: right;
    }
    .search-main{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
        background-color: #54457F;
    }
    .image-search{
        width: 80%;
        height: 100%;  
    }
    .image-search img{
        width: 100%;
        height: 200px;
    }
    .option-province,
    .option-service{
        font-size: 16px;
        display: inline-block;
	    width: 100%;
	    cursor: pointer;
  	    padding: 7px 10px;
  	    height: 35px;
  	    outline: 0; 
  	    border: 0;
	    border-radius: 0;
	    background: #f0f0f0;
	    color: #000;
	    border:2px solid rgba(0,0,0,0.2);
        border-radius: 12px;
        position: relative;
        transition: all 0.25s ease;
    }
    .search{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }
    .search-text{
        font-weight: 600;
        width: 100%;
        font-size: 18px;
        color: #fff;
    }
    .search-button{
        font-size: 16px;
    }
    .products-index .card-index{
        width: 22%;
    }
    .price-index{
        display:block;
        width:50%;
        text-align: left;
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold;
    }
    .info-index{
        display: none;
    }
    .burger-menu{
        display: none;
    }
    .card-index:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}